<!DOCTYPE html>
<html lang="en">
<head>

    <title>Stratego</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="googlebot" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="Login_Document/Image/stratego_icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Login_Document/CSS/Tool_Bar.css">
    <link rel="stylesheet" type="text/css" href="Login_Document/CSS/Login_Button.css">
    <script type="text/javascript" src="Login_Document/JS/Tool_Bar.js"></script>

</head>
<body>

<div class="topnav" id="myTopnav">
    <a  id = "Home" ><i class="fa fa-fw fa-home"></i>Home</a>
    <a  id="About"><i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;About</a>
    <a  id="Login" onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><i class="glyphicon glyphicon-user"></i>&nbsp;login</a>
</div>










<div id="id01" class="modal">

    <form class="modal-content animate" action="#" th:action="@{/login}" th:object="${LoginData}" method="post" >
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="Login_Document/Image/stratego_icon.png" style="max-width: 150px;" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label ><b>Username</b></label>
            <input type="text" th:field="*{username}" placeholder="Enter Username" name="uname" required>

            <label ><b>Password</b></label>
            <input type="password" th:field="*{password}"  placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>

</body>
</html>