.signup-content {
@extend display-flex;
}
.signup-img  {
    width: 50%;
    float: left;
}

.register-form {
    padding: 20px 20px 20px 20px;
}

@media screen and (max-width: 600px) {

    .signup-img{
        display: none;
    }

}

#register-form {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

.col {
    display: table-cell;
    padding: 16px;
}

.form-submit {
    text-align: right;
    padding-top: 27px;
}
.submit {
    width: 140px;
    height: 40px;
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fefefe;
}
/*___________________________________________*/
