.signup-content {
@extend display-flex;
}
.signup-img , .signup-form {
    width: 50%;
    float: left;
}
.signup-img {
    margin-bottom: -7px;

}
.register-form {
    padding: 50px 100px 50px 70px;
}



.signup-form{

    /*background-color: forestgreen;*/
    width: 50%;
}

/*@media screen and (max-width: 1400px) {*/

/*    .signup-form {*/

/*        float: right;*/
/*        width: 50%;*/
/*    }*/

/*}*/

@media screen and (max-width: 1000px) {



     .signup-form {

        float: right;
        width: 70%;
    }

}

@media screen and (max-width: 700px) {

    .signup-img , .signup-form {

        float: none;
        width: 100%;
    }


}

#register-form {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

.col {
    display: table-cell;
    padding: 16px;
}

.form-submit {
    text-align: right;
    padding-top: 27px;
}
.submit {
    width: 140px;
    height: 40px;
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fefefe;
}
/*___________________________________________*/
